<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Wunderbar - Contacto</title>
</head>

<body>

    <header class="header">
    </header>

    <section class="descripcion">
        <div class="titulo">
            <img src="../static/img/Wunderbar.png" alt="logo" id="logo">
            <h2>Contactanos</h2>
        </div>
    </section>

    <div class="form-container"> <!-- Contenedor del formulario -->
        <form id="contactForm" onsubmit="sendMail(); return false;" method="POST">

            <p> 
                Para el formulario de contacto, se ha decidido que inicialmente se abrirá la aplicación de correo local (Outlook, Gmail, etc.) para enviar el form. 
                Luego con Python se implementará de una manera más eficiente. Todos los campos se validan. 
            </p>
            
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label>¿Pregunta del mes: Qué tipo de bebida preferís?</label>
                <div class="radio-group">
                    <input type="radio" id="cerveza" name="bebida" value="cerveza" required>
                    <label for="cerveza">Cerveza</label>
                </div>
                <div class="radio-group">
                    <input type="radio" id="vino" name="bebida" value="vino">
                    <label for="vino">Vino</label>
                </div>
                <div class="radio-group">
                    <input type="radio" id="coctel" name="bebida" value="coctel">
                    <label for="coctel">Cóctel</label>
                </div>
                </div>
            </div>

            <button type="submit">Enviar</button>
            <p id="errorMessage" style="display: none; color: red;"><br>Por favor, revise los campos resaltados en rojo.</p>
        </form>
    </div>

    <script src="../static/js/header.js"></script>

    <script src="../static/js/estilosdefault.js"></script>
    <script src="../static/js/form.js"></script>
</body>

<footer id="footer">
    <p>&copy; Wunderbar 2024 Codo a Codo</p>
</footer>

</html>