<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Wunderbar</title>
</head>

<body>

    <header class="header">
    </header>

    <!-- Descripción del bar Wunderbar -->
    <section class="descripcion">
        <div class="titulo">
            <img src="../static/img/Wunderbar.png" alt="logo" id="logo">
            <h2>¡Bienvenido a Wunderbar!</h2>
        </div>
        <p>Sumergite en la auténtica experiencia alemana en pleno corazón de Argentina.
        <p>En Wunderbar, te invitamos a disfrutar de una amplia selección de cervezas artesanales alemanas, acompañadas
            de deliciosas salchichas, choripanes y picadas.</p>
        <p>Nuestro ambiente único te transportará directamente a los tradicionales biergartens de Alemania, donde la
            buena onda y la buena comida se combinan para crear momentos inolvidables.</p>
        <p>Ya sea que estés buscando una tarde relajada entre amigos o celebrar una ocasión especial, en Wunderbar
            encontrarás el lugar perfecto para disfrutar de la mejor comida y bebida alemana.</p>
        <p>Encontranos en:</p>
        <div class="iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.8058643869413!2d-58.4694783252324!3d-34.558470455108306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6811360c83d%3A0x3eff01a82d1d047b!2sWunderbar%20Belgrano%20-%20Hamburgueseria!5e0!3m2!1ses-419!2sar!4v1715344248159!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="direccion"></iframe>
        </div>
    </section>

    <script src="../static/js/header.js"></script>

    <script src="../static/js/estilosdefault.js"></script>
</body>

</html>