<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/nosotros.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <title>Wunderbar</title>
    </head>
    
    <body>
    
        <!-- Header -->
        <header class="header">
            <nav class="en-linea">
                <a class="hipervinculo" href="../index.html">Inicio</a>
                <a class="hipervinculo" href="../template/nosotros.html">Sobre nosotros</a>
                <a class="hipervinculo" href="../template/promos.html">Promociones</a>
                <a class="hipervinculo" href="../template/form.html">Formulario de contacto</a>
                <a class="hipervinculo" href="https://www.google.com/" target="_blank">Google</a>
            </nav>
        </header>

    <!-- Descripción del bar Wunderbar -->
    <section class="descripcion">
        <h2>¡Bienvenido a Wunderbar!</h2>
        <p>Sumergite en la auténtica experiencia alemana en pleno corazón de Argentina. 
        <p>En Wunderbar, te invitamos a disfrutar de una amplia selección de cervezas artesanales alemanas, acompañadas de deliciosas salchichas, choripanes y picadas.</p>
        <p>Nuestro ambiente único te transportará directamente a los tradicionales biergartens de Alemania, donde la buena onda y la buena comida se combinan para crear momentos inolvidables.</p>
        <p>Ya sea que estés buscando una tarde relajada entre amigos o celebrar una ocasión especial, en Wunderbar encontrarás el lugar perfecto para disfrutar de la mejor comida y bebida alemana.</p>
    </section>

</body>
</html>
