<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <link rel="stylesheet" href="../static/css/promos.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Wunderbar</title>
</head>

<body>

    <header class="header">
    </header>

    <!-- Tarjeta de promoción 1 -->
    <div class="tarjeta-promo">
        <h2>Promoción 1</h2>
        <p>Descripción de la promoción 1.</p>
        <a href="#" class="btn">Ver más</a>
    </div>

    <!-- Tarjeta de promoción 2 -->
    <div class="tarjeta-promo">
        <h2>Promoción 2</h2>
        <p>Descripción de la promoción 2.</p>
        <a href="#" class="btn">Ver más</a>
    </div>

    <!-- Tarjeta de promoción 3 -->
    <div class="tarjeta-promo">
        <h2>Promoción 3</h2>
        <p>Descripción de la promoción 3.</p>
        <a href="#" class="btn">Ver más</a>
    </div>

    <script src="../static/js/header.js"></script>
    
    <script src="../static/js/estilosdefault.js"></script>

</html>