.logo img {
    width: 600px; /* Ancho*/
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto de transformación */
    display: block; /* Para centrar horizontalmente la imagen */
    margin: 0 auto; /* Para centrar horizontalmente la imagen */
    border-radius: 50%; /* Agrega un borde redondeado a la imagen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra alrededor de la imagen */
}


.logo img:hover {
    transform: scale(1.1); /* Aumenta el tamaño del logo al pasar el cursor */
}

.título {
    display: flex;
    /* align-items: center; */
    justify-content: center; /* Centra horizontalmente */
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px; /* Tamaño de fuente grande */
    color: white; /* Color de fuente blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    letter-spacing: 4px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    text-align: center; /*Centra */
    margin-bottom: 20px; /* Agrega un margen inferior*/
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}
.descripcion2 > h2{
    margin-top: 20px; /* Margen superior de 20px */
    background-color: #2c3e50; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    
    display: flex;
    /* align-items: center; */
    justify-content: center; /* Centra horizontalmente */
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px; /* Tamaño de fuente grande */
    color: white; /* Color de fuente blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    letter-spacing: 4px; /* Espaciado entre letras */
    text-align: center; /*Centra */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

@media (max-width: 600px) {
    .descripcion2 > h2 {
        font-size: 18px; /* Reduce el tamaño de fuente */
        padding: 15px; /* Reduce el espaciado interno */
        letter-spacing: 2px; /* Reduce el espaciado entre letras */
    }
}


