.iframe{
    text-align: center;
    height: 50%;
    margin: 10px; /* Margen entre tarjetas */
    padding: 5px; /* Espaciado interno */
}

iframe{
    box-shadow: 0 0 10px;
    border-radius: 5%;
}

@media only screen and (max-width: 1000px) {
    .iframe {
        width: 100%; /* Ocupa el 100% del ancho */
        text-align: center; /* Centra el contenido horizontalmente */
        height: auto; /* Altura automática */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Aumenta el espaciado interno */
    }

    iframe {
        width: 90%; /* Ocupa el 100% del ancho */
        text-align: center; /* Centra el contenido horizontalmente */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
        border-radius: 10px; /* Borde redondeado */
    }
}
