.card-container {
    display: flex;
    flex-wrap: wrap; /* Añadido para que las cards se envuelvan */
    justify-content: center; /* Centra las cards horizontalmente */
    margin: 20px; 
}

.card {
    border-radius: 20px;
    background-color: #2c3e50;
    color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5%;
    padding: 1%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: calc(33% - 1%); /* Modificado el cálculo del ancho para simplificar */
    max-width: 600px; /* Añadido para limitar el ancho máximo */
}

.card:hover {
    background-color: #34495e;
}

.card .description {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; /* Cambiado de bolder a bold */
    font-size: 20px;
    margin-bottom: 10px;
}

.card .image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
}

.card .price {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center; /* Cambiado a centrado para mejorar la legibilidad */
    margin-top: 10px;
    color: floralwhite;
}

#box {
    padding: 20px; /* Ajusta el espacio interior del contenedor box */
}

@media only screen and (max-width: 768px) {
    .card {
        width: calc(100% - 2%);
        margin-bottom: 10px; /* Añadido para separar las cards en pantallas pequeñas */
    }
}

@media only screen and (min-width: 769px) {
    .card {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    #box {
        padding-bottom: 60px; /* Ajusta el espacio interior del contenedor box */
    }
    .card .price {
        font-size: 20px;
    }

    .card .description {
        font-size: 25px;
    }
}
