.card-container {
    margin: 100px; /* Margen superior de 20px */
}

/* Estilos para las cards */
.card {
    border-radius: 20px;
    background-color: #2c3e50; /* Color de fondo azul */
    color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5%; /* Margen del 0.5% del ancho de la ventana */
    padding: 1%; /* Espaciado interno del 1% del ancho de la ventana */
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 600px; /* Altura predeterminada de la card */
    width: calc(33% - 3%); /* Ancho de cada card */
}

.card .description {
    font-size: 18px;
    margin-bottom: 10px;
}

.card .image {
    max-width: 100%;
    height: auto;
    border-radius: 20px; /* Redondear la imagen */
}

.card .price{ /*hago una nueva llamada de clase para ajustar el texto bajo la img */
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Estilos para celulares y tablets */
@media only screen and (max-width: 768px) {
    .card {
        width: calc(100% - 2%); /* Ancho de la card del 100% del ancho de la ventana */
    }
}
