body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    text-align: center;
    color: #f5f5f5; 
    margin-top: 10px; 
}

h2 {
    margin-top: 10px; 
}

section {
    margin-top: 10px; /* Espacio de 10px entre el h1 y el primer section */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d3e3f5;
    color: #1100ff
}

/* Estilos generales para todos los formularios */
form {
    max-width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    font-weight: bold;
    color: floralwhite;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

form input[type="text"],
form textarea {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* Estilos para todas las tablas */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: #fff;
}

#logoutButton, #cancelReviewButton, #sendReviewButton, #cancelPromoButton, #sendPromoButton {
    display: inline-block;
    width: 120px; /* Ancho fijo para ambos botones */
    padding: 10px 20px; /* Espaciado interno de los botones */
    margin-top: 20px; /* Margen superior entre los botones y otros elementos */
    color: #fff; /* Color de texto por defecto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    text-align: center; /* Alinear texto al centro dentro del botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

#logoutButton{
    background-color: #000; /* Cambiar color de fondo al pasar el mouse */
    color: #ffffff;
}

#logoutButton:hover {
    background-color: white; /* Cambiar color de fondo al pasar el mouse */
    color: black; /* Cambiar color de texto al pasar el mouse */
}

.logout-box {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}


.button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido del contenedor */
}
