<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Login y Registro</title>
</head>

<!-- Sección de usuarios y contraseñas -->
<div id="userCredentials">
    <h3>Usuarios y Contraseñas</h3>
    <br>
    <p>Usuario Admin: gabi</p>
    <p>Contraseña: 1234</p>
    <br>
    <p>Usuario Test: test</p> 
    <p>Contraseña: 1234</p>
    <br>
    <p>Por simplicidad,</p>
    <p>se piden pocos datos</p>
    <p>y no se usan tokens,</p>
    <p>ni se envían mails,</p>
    <p>pero sólo deja un user x mail</p>
</div>

<body>
    <div class="form-container">
        <div id="loginSection">
            <h2>Login</h2>
            <form id="loginForm">
                <div>
                    <label for="loginUsername">Username:</label>
                    <input type="text" id="loginUsername" name="username" required>
                </div>
                <div>
                    <label for="loginPassword">Password:</label>
                    <input type="password" id="loginPassword" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <div id="loginMessage"></div>
        </div>

        <div id="registerSection">
            <h2>Register</h2>
            <form id="registerForm">
                <div>
                    <label for="registerUsername">Username:</label>
                    <input type="text" id="registerUsername" name="username" required>
                </div>
                <div>
                    <label for="registerEmail">Email:</label>
                    <input type="email" id="registerEmail" name="email" required>
                </div>
                <div>
                    <label for="registerPassword">Password:</label>
                    <input type="password" id="registerPassword" name="password" required>
                </div>
                <button type="submit">Register</button>
            </form>
            <div id="registerMessage"></div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
    <script src="../static/js/estilosdefault.js"></script>
</body>

</html>