<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Login y Registro</title>
</head>
<body>
    <div class="form-container">
        <div id="loginSection">
            <h2>Login</h2>
            <form id="loginForm">
                <div>
                    <label for="loginUsername">Username:</label>
                    <input type="text" id="loginUsername" name="username" required>
                </div>
                <div>
                    <label for="loginPassword">Password:</label>
                    <input type="password" id="loginPassword" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <div id="loginMessage"></div>
        </div>

        <div id="registerSection">
            <h2>Register</h2>
            <form id="registerForm">
                <div>
                    <label for="registerUsername">Username:</label>
                    <input type="text" id="registerUsername" name="username" required>
                </div>
                <div>
                    <label for="registerEmail">Email:</label>
                    <input type="email" id="registerEmail" name="email" required>
                </div>
                <div>
                    <label for="registerPassword">Password:</label>
                    <input type="password" id="registerPassword" name="password" required>
                </div>
                <button type="submit">Register</button>
            </form>
            <div id="registerMessage"></div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
    <script src="../static/js/estilosdefault.js"></script>
</body>
</html>
