<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/promos.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Wunderbar - Promos</title>
</head>

<body>

    <header class="header">
    </header>

    <section class="descripcion">
        <div class="titulo">
            <img src="../static/img/Wunderbar.png" alt="logo" id="logo">
            <h2>Promociones</h2>
        </div>
    </section>

    <!-- Tarjeta de promoción -->
<div id="box"> 
    <div class="card-container" id="card-container">
        <!-- Acá las tarjetas dinámicamente -->
    </div>
</div>


    <script src="../static/js/estilosdefault.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/card.js"></script>

    <footer id="footer">
        <p>&copy; Wunderbar 2024 Codo a Codo</p>
    </footer>

</html>