<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/resenias.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Wunderbar - Reseñas</title>
</head>

<body>

    <header class="header">
    </header>

    <section class="descripcion">
        <div class="titulo">
            <img src="../static/img/Wunderbar.png" alt="logo" id="logo">
            <h2>Reseñas</h2>
        </div>
    </section>

    <p></p>

    <div id="review-container"></div>

    <section class="add-review">
        <h3>Agregar una nueva reseña</h3>
        <form id="review-form">
            <label for="nombre-usuario">Nombre:</label>
            <input type="text" id="nombre-usuario" name="nombre-usuario" required>
            
            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" required></textarea>
            
            <button type="submit">Enviar</button>
        </form>
    </section>

    <script src="../static/js/header.js"></script>
    <script src="../static/js/resenias.js"></script>
    <script src="../static/js/estilosdefault.js"></script>
</body>

<footer id="footer">
    <p>&copy; Wunderbar 2024 Codo a Codo</p>
</footer>

</html>